/* 
||==========================================================================================
|| Universal changes made to all HTML elements of the generic kind 
||==========================================================================================
*/
/* The default background color and general text settings */
body {
  background: rgb(219,219,224);
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: visible;
}

/* Level one headings, only seen in the header as the home button and the page title */
h1 {
  font-size: x-large;
  color: rgb(225, 225, 225);

}

/* Headings that are not in the header */
h2, h3, h4 {
  font-weight: bolder;
  color: rgb(25,25,25);

}

/* Level two headings, only used for the first heading outside of the header, usually called "Overview" */
h2 {
  font-size: x-large;

}

/* Level three headings */
h3 {
  font-size: larger;

}

/* Level four headings */
h4 {
  font-size: medium;
  font-style: italic;
  margin-left: 15px;

}

/* The generic horizontal line break */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(0,0,0);
  margin: 1em 0;
  padding: 0;
}

/* The generic text wrapper across the site */
p {
  color: rgb(25,25,25);
  margin-left: 25px;

}

/* All buttons will show cursor by default */
button {
  cursor: pointer;

}


/* 
||==========================================================================================
|| Specific changes made to various HTML classes 
||==========================================================================================
*/
/* The background container div that all other HTML elements rest inside (or on top) of */
.page-background-container {
  width: 100%;
  height: auto;    
  overflow: visible;
  background-image: url("/_SiteResources/Images/ESO_-_Milky_Way.jpg");
  background-repeat: repeat-y;
  background-size: 105%;
  background-attachment: fixed;
}

/* The header where site title and page title are displayed, and where sitewide navigation begins */
.page-header {
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  text-align: center;
}

/* The topmost center button that takes us back to the homepage from anywhere on the site */
.page-header-home-button {
  width: 600px;
  max-width: 100vw;
  border-style: dotted;
}
/* The site navigation buttons that line the header */
.page-header-nav-button {
  width: 10%;
  min-width: 75px;
  height: 50px;
  border-style: dotted;
}
/* On hovering over the header buttons, set the border to a visible off white */
.page-header-home-button:hover, .page-header-nav-button:hover {
  border-color: rgb(219,219,224);
  border-radius: 10px;
}


/* 
A series of descriptors that apply to a great many items, such as background color or text color
 */
/* A condensed dark grey background color style group for the header and footer elements */
.page-header, .page-header-home-button, .page-header-nav-button, #page-back-button, .WikiOverviewButton, .WikiOverviewButton_Placeholder, .page-button-table, .import-page-footer, .FooterButton {
  background-color: rgb(54,57,63);
}

/* A condensed dark grey border color style group for the header elements */
.page-header-home-button, .page-header-nav-button, .AboutThisSite, .WikiPageButton, #page-back-button, .WikiOverviewButton, .WikiOverviewButton_Placeholder, button.BulletinButton:hover, .FooterButton, .TableSortButton {
  border-color: rgb(54,57,63);
}


/* A condensed off black color style group for dark text elements */
body, .caped-crusader-table tr th, .caped-crusader-table th, .caped-crusader-table tr td, .caped-crusader-table td, .selections-table tr th, .selections-table tr td, .selections-table td:nth-child(1) {
  color: rgb(25,25,25);
}

/* A condensed off white color style group for light text elements or backgrounds */
.page-header-nav-button, .page-header, button a, td, th {
  color: rgb(219,219,224);
}


/* The div that holds the actual page content */
.page-content {
  background-image: url("/_SiteResources/Images/Transparent.png");
  position: relative;
  width: 100%;
  height: auto;
  min-height: 135VH;
  padding-bottom: 2.5rem;    /* Footer height */
  overflow: visible;
}


.AnchorCenter {
  position: relative;
  height: auto;
  padding: 0%;
  width: 0px; /* Or zero, or something very small */
  margin-left: 49.4vw; /* -(256 * 1.5) - 12 */
  overflow: visible;
  background-image: url("/_SiteResources/Images/Transparent.png");
}

.AnchorLeft {
  position: relative;
  height: auto;
  padding: 0%;
  width: 350px; /* Or zero, or something very small */
  margin-left: -45vw; /* -(256 * 1.5) - 12 */
  overflow: visible;
  background-image: url("/_SiteResources/Images/Transparent.png");
}

.page-contentLeftTop {
  box-sizing: border-box;
  flex-direction: column;
  margin: 5%;
  margin-left: 0px; /* -256 */
  margin-top: 0px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px; 
  width: 90vw; /* 256*2 -50 for padding -25 for content gap */
}

.page-contentLeft {
  box-sizing: border-box;
  flex-direction: column;
  margin: 5%;
  margin-left: 0px; /* -256 */
  margin-top: 25px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px; 
  width: 90vw; /* 256*2 -50 for padding -25 for content gap */
} 

.PortfolioIcon {
  margin: 5px;
}


.AnchorRight {
  position: relative;
  height: auto;
  padding: 0%;
  width: 0px; /* Or zero, or something very small */
  margin-left: -45vw;
  overflow: visible;
  background-image: url("/_SiteResources/Images/Transparent.png");
}

.page-content-section {
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 5vw; 
  margin-right: 5vw;
  margin-top: 25px;
  margin-bottom: 5vw;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
  width: 90vw; 
}

section {
  background-color: rgb(255,255,255);
  border-radius: 10px;
  max-width: 90vw;
}

div {
  max-width: 100vw;
}

table {
  max-width: 100vw;
}





.AboutThisSite {
  width: 260px;
  height: 100px;
  margin: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: rgb(124, 110, 105);
  border-style: solid;
  font-size: x-large;
}

.QuasiPlaneButton, .PrimalPlaneButton, .MaterialPlaneButton {
  padding: 10px;
  background-color: rgb(175, 175, 175);
  border-style: solid;
  font-size: large;
  text-align: center;
  display: block;
  position: relative;
}
.QuasiPlaneButton {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 35px;
}
.PrimalPlaneButton {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px;
}
.MaterialPlaneButton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 60px;
}



.wiki-page-overview-table {
  display: block;
  width: 275px;
  max-width: 35vw;
  margin: 10px;
  margin-right: 0px;
  overflow: auto;
  border: 1px solid rgb(189,188,173);
  border-collapse: collapse;
  float: right;
}

.WikiContent {
  color: rgb(58,58,58);
}

.page-button-greater {
  width: 275px;
  max-width: 35vw;
  height: 65px;
  margin: 5px;
  border-radius: 20px;
  background-color: rgb(175, 175, 175);
  border: 1px solid aqua;
  font-size: large;
  font-weight: bold;
}


.wiki-page-overview-table th, .wiki-page-overview-table td {
  width: auto;
  padding: 10px;
  vertical-align: top;
}

.wiki-page-overview-table tr th {
  background-color: rgb(223,222,207);
  color: rgb(58,58,58);
  font-size: small;
}

.wiki-page-overview-table tr td {
  background-color: rgb(251,251,251);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}

.wiki-page-overview-table tr:first-child th {
  padding: 0px;
  margin: 0px;
}

.wiki-page-overview-table tr:nth-child(2) th {
  background-color: rgb(247,247,247);
  color: rgb(58,58,58);
  padding: 2px;
  border-top: 0px;
  font-size: smaller;
}

.wiki-page-overview-table tr:nth-child(3) th, .wiki-page-overview-table tr:nth-child(4) th {
  background-color: rgb(189,188,173);
  color: rgb(58,58,58);
  font-size: large;
}

.wiki-page-overview-table tr:nth-child(4) th {
  padding-top: 0px;
  font-size: x-small;
}

#wiki-page-table-image {
  width: 100%;
  height: auto; 
  display: block;
  overflow: hidden;
}

.WikiContentImageLeft {
  width: 200px;
  float: left;
  padding: 0px;
  padding-right: 15px;
}

.WikiContentImageRight {
  width: 200px;
  float: right;
  padding: 0px;
  padding-left: 15px;
}

.TechClassButton, .PowerClassButton, .MagicClassButton, .ClassButton {
  width: 200px;
  max-width: 15vw;
  height: auto;
  margin: 5px;
  background-color: rgb(175, 175, 175);
  padding: 0px;
  border-radius: 7px;
  border-style: hidden;
  font-size: medium;
  display: block;
  position: relative;
}
.ClassButton {
  height: 35px;
}
.button-top, .button-bottom {
  background-color: rgb(175, 175, 175);
  margin: 0px;
  padding: 10px;
  text-align: left;
}
.button-top {
  min-height: 175px;
}
.TechClassButton {
  color: rgb(50, 50, 125);
}
.PowerClassButton {
  color: rgb(125, 50, 50);
}
.MagicClassButton {
  color: rgb(125, 125, 50);
}
.ClassButton {
  color: rgb(25, 25, 25);
}
span {
  display: block;
  position: bottom;
  margin-right: 10px;
}

.WikiPageButton {
  width: 225px;
  max-width: 35vw;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(212, 188, 143);
  border-style: solid;
  font-size: medium;
  font-weight: bold;
  margin: 5px;
}


#page-back-button, .WikiOverviewButton, .WikiOverviewButton_Placeholder {
  position: relative;
  width: 175px;
  height: 50px;
  border-style: solid;
  font-size: small;
  color: aqua;
}


#page-back-button {
  float: right;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50px;
}

.WikiOverviewButton, .WikiOverviewButton_Placeholder {
  float: right;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.WikiOverviewButton_Placeholder, .WikiOverviewButton_Placeholder:hover {
  cursor: auto;
  opacity: 0%;
}

.WikiSchoolOfMagicButton {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 0px;
  margin: 3px;
  padding: 0px;
  background-color: rgb(189,188,173);
}

.page-button-table {
  float: right;
  border: 1px solid rgb(54,57,63);
  height: auto;
  width: auto;
  margin-right: 0px;
  border-radius: 5px;
  align-content: center;
}





.caped-crusader-table {
  display: block;
  width: auto;
  margin: 10px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: auto;
  border: 1px solid rgb(50,50,50);
  border-collapse: collapse;
  float: center;
}

.caped-crusader-table th, .caped-crusader-table td {
  width: auto;
  padding: 8px;
  vertical-align: top;
  border: 1px solid rgb(50,50,50);
}

.caped-crusader-table tr th, .caped-crusader-table th {
  background-color: rgb(150,150,150);
  font-size: medium;
  text-align: left;
}

.caped-crusader-table tr td, .caped-crusader-table td {
  background-color: rgb(200,200,200);
  font-size: medium;
  text-align: left;
}





.selections-table {
  display: inline-table;
  width: 35vw;
  margin: 10px;
  margin-right: 0px;
  margin-left: 10px;
  overflow: auto;
  border: 1px solid rgb(50,50,50);
  border-collapse: collapse;
  float: right;
}

.selections-table th, .selections-table td {
  width: auto;
  padding: 7px;
  vertical-align: top;
  background-color: aqua;
  border: 1px solid rgb(50,50,50);
}

.selections-table tr th {
  background-color: rgb(125, 125, 125);
  font-size: large;
  text-align: center;
}

.selections-table tr td {
  background-color: rgb(225, 225, 225);
  font-size: small;
  text-align: left;
}

.selections-table td:nth-child(1) {
  background-color: rgb(175, 175, 175);
  font-size: small;
  text-align: center;
  width: 7vw;
}





nav table {
  margin-left: 0%;
  width: 100%;
  border-bottom: 10px;
  border-top: 10px;
  border-color: aqua;
  padding: 0px;
}
table button {
  margin: 10px;
  size: 50px;
  width: 150px;
  height: 50px;
  border-radius: 0%;
}

button.BulletinButton {
  color: rgb(255,255,255);
  background-color: rgb(255,255,255);
  border-color: rgb(255,255,255);
  border-style: solid;
}
button.BulletinButton:hover {
  color: rgb(255,255,255);
  background-color: rgb(255,255,255);
}
button.BulletinButton a {
  color: black;
  font-size: medium;
  text-decoration: none;
}



.EntryDate {
  float: right;
  position: fixed;
}








.Overview {
  flex-direction: column;
}
.WikiBG {
  background-image: url(BrassDragon.jpg);
}

.import-page-footer {
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: auto;
  height: auto;            /* Footer height */
}

.FooterButton {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border-style: solid;
}


ul.BulletinList {
  display: table-row;
}
li.BulletinList {
  display: table-row;
}
table {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.TierInset {
  border: 100px;
  border-color: gold;
  background-image: url(parchment.jpg);
  opacity: 90%;
  width: 90%;
  margin: 5%;
  background-color: rgb(44, 26, 0);
  margin-bottom: -5px;
}

.TierContent {
  border: 10px;
  border-color: red;
  background-color: rgb(97, 87, 75);
  width: 96%;
  margin: 2%;
  margin-bottom: -5px;
  display: flex;
  height: 1000px;
  flex-direction: column;
}

.BuildTable {
  display: block;
  width: auto;
  margin: 10px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: auto;
  border: 1px solid rgb(189,188,173);
  border-collapse: collapse;
  float: center;
}

.BuildTable th, .BuildTable td {
  width: auto;
  padding: 7px;
  vertical-align: top;
  border: 1px solid rgb(189,188,173);
}

.BuildTable tr th {
  background-color: rgb(223,222,207);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}

.BuildTable tr td {
  background-color: rgb(251,251,251);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}

.CharacterArt {
  background-size: cover;
  background-position: center;
}

.CharacterArt.GenieLance.Tier1{
  background-image: url(CharacterBuilds/GenieLance/Tier1.jpg);
}
.CharacterArt.GenieLance.Tier2{
  background-image: url(CharacterBuilds/GenieLance/Tier2.jpg);
}
.CharacterArt.GenieLance.Tier3{
  background-image: url(CharacterBuilds/GenieLance/Tier3.jpg);
}
.CharacterArt.GenieLance.Tier4{
  background-position: top;
  background-image: url(CharacterBuilds/GenieLance/Tier4.jpg);
}
.CharacterArt.GenieLance.Tier5{
  background-image: url(CharacterBuilds/GenieLance/Tier5.jpg);
}
.CharacterArt.GenieLance.Tier6{
  background-image: url(CharacterBuilds/GenieLance/Tier6.jpg);
}

.CharacterArt.ArtiChron.Tier1{
  background-position: top;
  background-image: url(CharacterBuilds/ArtiChron/Tier1.jpg);
}
.CharacterArt.ArtiChron.Tier2{
  background-image: url(CharacterBuilds/ArtiChron/Tier2.jpg);
}
.CharacterArt.ArtiChron.Tier3{
  background-image: url(CharacterBuilds/ArtiChron/Tier3.jpg);
}
.CharacterArt.ArtiChron.Tier4{
  background-image: url(CharacterBuilds/ArtiChron/Tier4.jpg);
}
.CharacterArt.ArtiChron.Tier5{
  background-image: url(CharacterBuilds/ArtiChron/Tier5.jpg);
}
.CharacterArt.ArtiChron.Tier6{
  background-image: url(CharacterBuilds/ArtiChron/Tier6.jpg);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



iframe {
  max-width: 80vw;
}










.FilterInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: auto; /* Full-width */
  
  padding: 10px; /* Add some padding */
  border: 2px solid rgb(63, 62, 62); /* Add a grey border */
  border-radius: 5px;
  margin-bottom: 12px; /* Add some space below the input */
}



#FilterTable {
  border-collapse: collapse; /* Collapse borders */
  min-width: 83vw; /* Full-width */
  border: 1px solid rgb(97, 97, 97); /* Add a grey border */
  overflow: scroll;
  display: inline-block;
}

#FilterTable th, #FilterTable tr td {
  text-align: left; /* Left-align text */
  padding: 5px; /* Add padding */
  min-width: 175px;
  color: black;
  border: 1px solid black;
}

#FilterTable th {
  background-color: rgb(150,150,150);
}

#FilterTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid rgb(61, 61, 61);
}

#FilterTable tr {
  /* Add a grey background color to the table header and on hover */
  background-color: rgb(200,200,200);
}



.FilterTableImage, .class-image-small {
  width: 50px;
  float: right;
}

#page-image, .class-image-large, .subclass-image-large {
  width: 25vw;
  border: 8px solid rgb(100,100,100);
  border-radius: 64px;
  margin-left: 10px;
}

#page-image-table {
  float: right;
  width: auto;
  margin: 0px;
  padding: 0px;
  border: 3px solid rgb(200,200,200);
  border-radius: 10px;
}

#page-image-table tr td {
  color: black;
  width: 30vw;
  text-align: center;
}

.class-image-medium, .subclass-image-medium {
  width: 100px;
  float: right;
  border: 4px solid rgb(100,100,100);
  border-radius: 16px;
  margin: 2px;
}


.TableSortButton {
  width: auto;
  height: auto;
  margin: 0px;
  border-radius: 7px;
  background-color: rgb(175, 175, 175);
  border-style: solid;
  font-size: small;
  font-weight: bold;
}