body {
  background: rgb(219,219,224);
  color: black;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: visible;
}

button {
  cursor: pointer;
}


.page-background-container {
  position: absolute;
  width: 100%;
  height: auto;    
  background-image: url("/_SiteResources/Images/Transparent.png");
  overflow: visible;
}



.page-header {
  background-color: rgb(54,57,63);
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  color: whitesmoke;
  text-align: center;
}

.page-header-home-button {
  width: 40%;
  min-width: 400px;
  background-color: rgb(54,57,63);
  border-style: dotted;
  border-color: rgb(54,57,63);
}
.page-header-home-button:hover {
  border-color: whitesmoke;
  border-radius: 10px;
}

.page-header-nav-button {
  width: 10%;
  min-width: 75px;
  height: 50px;
  background-color: rgb(54,57,63);
  border-style: dotted;
  border-color: rgb(54,57,63);
  color: whitesmoke;
}
.page-header-nav-button:hover {
  border-color: whitesmoke;
  border-radius: 10px;
}



.page-content {
  background-image: url("/_SiteResources/Images/Transparent.png");
  position: relative;
  width: 100%;
  height: auto;
  min-height: 135VH;
  padding-bottom: 2.5rem;    /* Footer height */
  overflow: visible;
}


.AnchorCenter {
  position: relative;
  height: auto;
  padding: 0%;
  width: 0px; /* Or zero, or something very small */
  margin-left: 49.4vw; /* -(256 * 1.5) - 12 */
  overflow: visible;
  background-image: url("/_SiteResources/Images/Transparent.png");
}

.AnchorLeft {
  position: relative;
  height: auto;
  padding: 0%;
  width: 350px; /* Or zero, or something very small */
  margin-left: -45vw; /* -(256 * 1.5) - 12 */
  overflow: visible;
  background-image: url("/_SiteResources/Images/Transparent.png");
}

.page-contentLeftTop {
  box-sizing: border-box;
  flex-direction: column;
  margin: 5%;
  margin-left: 0px; /* -256 */
  margin-top: 0px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px; 
  width: 90vw; /* 256*2 -50 for padding -25 for content gap */
}

.page-contentLeft {
  box-sizing: border-box;
  flex-direction: column;
  margin: 5%;
  margin-left: 0px; /* -256 */
  margin-top: 25px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px; 
  width: 90vw; /* 256*2 -50 for padding -25 for content gap */
} 

.PortfolioIcon {
  margin: 5px;
}

.QuasiPlaneButton, .PrimalPlaneButton, .MaterialPlaneButton {
  padding: 10px;
  background-color: rgb(175, 175, 175);
  border-style: solid;
  font-size: large;
  text-align: center;
  display: block;
  position: relative;
}
.QuasiPlaneButton {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 35px;
}
.PrimalPlaneButton {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 10px;
}
.MaterialPlaneButton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 60px;
}


.AnchorRight {
  position: relative;
  height: auto;
  padding: 0%;
  width: 0px; /* Or zero, or something very small */
  margin-left: -45vw;
  overflow: visible;
  background-image: url("/_SiteResources/Images/Transparent.png");
}

.page-content-section {
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  margin: 5%;
  margin-left: 0px; /* -256*3 /2 */
  margin-top: 25px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
  width: 90vw; /* 256*3 -50 for padding -17 for scrollbar */
}

section {
  background-color: rgb(255,255,255);
  border-radius: 10px;
  max-width: 90vw;
}

div {
  max-width: 100vw;
}

table {
  max-width: 100vw;
}





.AboutThisSite {
  width: 260px;
  height: 100px;
  margin: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: rgb(124, 110, 105);
  border-style: solid;
  border-color: rgb(54,57,63);
  font-size: x-large;
}


.PlanesMapBackground {
  background-image: url("/_SiteResources/Images/Procès-verbal_d\'élection_consulaire_\(1294\)Cropped.jpg");
  background-repeat: repeat-y;
  background-size: 105%;
  background-attachment: fixed;
  position: relative;
}

.wiki-page-overview-table {
  display: block;
  width: 275px;
  max-width: 35vw;
  margin: 10px;
  margin-right: 0px;
  overflow: auto;
  border: 1px solid rgb(189,188,173);
  border-collapse: collapse;
  float: right;
}

.WikiContent {
  color: rgb(58,58,58);
}

.wiki-page-overview-table th, .wiki-page-overview-table td {
  width: auto;
  padding: 10px;
  vertical-align: top;
}

.wiki-page-overview-table tr th {
  background-color: rgb(223,222,207);
  color: rgb(58,58,58);
  font-size: small;
}

.wiki-page-overview-table tr td {
  background-color: rgb(251,251,251);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}

.wiki-page-overview-table tr:first-child th {
  padding: 0px;
  margin: 0px;
}

.wiki-page-overview-table tr:nth-child(2) th {
  background-color: rgb(247,247,247);
  color: rgb(58,58,58);
  padding: 2px;
  border-top: 0px;
  font-size: smaller;
}

.wiki-page-overview-table tr:nth-child(3) th, .wiki-page-overview-table tr:nth-child(4) th {
  background-color: rgb(189,188,173);
  color: rgb(58,58,58);
  font-size: large;
}

.wiki-page-overview-table tr:nth-child(4) th {
  padding-top: 0px;
  font-size: x-small;
}

#wiki-page-table-image {
  width: 100%;
  height: auto; 
  display: block;
  overflow: hidden;
}

.WikiContentImageLeft {
  width: 200px;
  float: left;
  padding: 0px;
  padding-right: 15px;
}

.WikiContentImageRight {
  width: 200px;
  float: right;
  padding: 0px;
  padding-left: 15px;
}

.page-button-greater {
  width: 225px;
  max-width: 35vw;
  height: 65px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(175, 175, 175);
  border-style: solid;
  border-color: rgb(54,57,63);
  font-size: large;
  font-weight: bold;
}

.WikiPageButton {
  width: 225px;
  max-width: 35vw;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(212, 188, 143);
  border-style: solid;
  border-color: rgb(54,57,63);
  font-size: medium;
  font-weight: bold;
  margin: 5px;
}


.page-back-button, .WikiOverviewButton, .WikiOverviewButton_Placeholder {
  position: relative;
  width: 175px;
  height: 50px;
  background-color: rgb(150, 138, 123);
  border-style: solid;
  border-color: rgb(54,57,63);
  font-size: small;
}


.page-back-button {
  float: right;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50px;
}

.WikiOverviewButton, .WikiOverviewButton_Placeholder {
  float: right;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.WikiOverviewButton_Placeholder, .WikiOverviewButton_Placeholder:hover {
  cursor: auto;
  opacity: 0%;
}

.WikiSchoolOfMagicButton {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 0px;
  margin: 3px;
  padding: 0px;
  background-color: rgb(189,188,173);
}

.page-button-table {
  float: right;
  border: 1px solid rgb(189,188,173);
  background-color: rgb(223,222,207);
  height: auto;
  width: auto;
  margin-right: 0px;
  border-radius: 5px;
}



.BuildTable {
  display: block;
  width: auto;
  margin: 10px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: auto;
  border: 1px solid rgb(189,188,173);
  border-collapse: collapse;
  float: center;
}

.BuildTable th, .BuildTable td {
  width: auto;
  padding: 7px;
  vertical-align: top;
  border: 1px solid rgb(189,188,173);
}

.BuildTable tr th {
  background-color: rgb(223,222,207);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}

.BuildTable tr td {
  background-color: rgb(251,251,251);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}


.selections-table {
  display: block;
  width: 50%;
  margin: 10px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: auto;
  max-height: 2000px;
  border: 1px solid rgb(189,188,173);
  border-collapse: collapse;
  float: right;
}

.selections-table th, .selections-table td {
  width: auto;
  padding: 7px;
  vertical-align: top;
  border: 1px solid rgb(189,188,173);
}

.selections-table tr th {
  background-color: rgb(223,222,207);
  color: rgb(58,58,58);
  font-size: small;
  text-align: center;
}

.selections-table tr td {
  background-color: rgb(251,251,251);
  color: rgb(58,58,58);
  font-size: small;
  text-align: left;
}

.selections-table tr:first-child th {
  background-color: rgb(189,188,173);
  color: rgb(58,58,58);
  font-size: large;
}






nav table {
  margin-left: 0%;
  width: 100%;
  border-bottom: 10px;
  border-top: 10px;
  border-color: aqua;
  padding: 0px;
}
table button {
  margin: 10px;
  size: 50px;
  width: 150px;
  height: 50px;
  border-radius: 0%;
}

button a {
  color: whitesmoke;
}
button.BulletinButton {
  color: rgb(255,255,255);
  background-color: rgb(255,255,255);
  border-color: rgb(255,255,255);
  border-style: solid;
}
button.BulletinButton:hover {
  color: rgb(255,255,255);
  background-color: rgb(255,255,255);
  border-color: rgb(54,57,63);
}
button.BulletinButton a {
  color: black;
  font-size: medium;
  text-decoration: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 0;
}


.EntryDate {
  float: right;
  position: fixed;
}






p {
  color: rgb(52,58,64);
}
h1 {
  color: rgb(255,255,255);
}
h3 {
  color: rgb(52,58,64);
}

.Overview {
  flex-direction: column;
}
.WikiBG {
  background-image: url(BrassDragon.jpg);
}

.import-page-footer {
  background-color: rgb(54,57,63);
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: auto;
  height: auto;            /* Footer height */
}

.FooterButton {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: rgb(54,57,63);
  border-color: rgb(54,57,63);
  border-style: solid;
}

td {
  color: whitesmoke;
}
th {
  color: whitesmoke;
}
ul {
  color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  color: black;
  display: inline-block;
  margin-right: 50px;
}
ul.BulletinList {
  display: table-row;
}
li.BulletinList {
  display: table-row;
}
table {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.TierInset {
  border: 100px;
  border-color: gold;
  background-image: url(parchment.jpg);
  opacity: 90%;
  width: 90%;
  margin: 5%;
  background-color: rgb(44, 26, 0);
  margin-bottom: -5px;
}

.TierContent {
  border: 10px;
  border-color: red;
  background-color: rgb(97, 87, 75);
  width: 96%;
  margin: 2%;
  margin-bottom: -5px;
  display: flex;
  height: 1000px;
  flex-direction: column;
}

.CharacterArt {
  background-size: cover;
  background-position: center;
}

.CharacterArt.GenieLance.Tier1{
  background-image: url(CharacterBuilds/GenieLance/Tier1.jpg);
}
.CharacterArt.GenieLance.Tier2{
  background-image: url(CharacterBuilds/GenieLance/Tier2.jpg);
}
.CharacterArt.GenieLance.Tier3{
  background-image: url(CharacterBuilds/GenieLance/Tier3.jpg);
}
.CharacterArt.GenieLance.Tier4{
  background-position: top;
  background-image: url(CharacterBuilds/GenieLance/Tier4.jpg);
}
.CharacterArt.GenieLance.Tier5{
  background-image: url(CharacterBuilds/GenieLance/Tier5.jpg);
}
.CharacterArt.GenieLance.Tier6{
  background-image: url(CharacterBuilds/GenieLance/Tier6.jpg);
}

.CharacterArt.ArtiChron.Tier1{
  background-position: top;
  background-image: url(CharacterBuilds/ArtiChron/Tier1.jpg);
}
.CharacterArt.ArtiChron.Tier2{
  background-image: url(CharacterBuilds/ArtiChron/Tier2.jpg);
}
.CharacterArt.ArtiChron.Tier3{
  background-image: url(CharacterBuilds/ArtiChron/Tier3.jpg);
}
.CharacterArt.ArtiChron.Tier4{
  background-image: url(CharacterBuilds/ArtiChron/Tier4.jpg);
}
.CharacterArt.ArtiChron.Tier5{
  background-image: url(CharacterBuilds/ArtiChron/Tier5.jpg);
}
.CharacterArt.ArtiChron.Tier6{
  background-image: url(CharacterBuilds/ArtiChron/Tier6.jpg);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}



iframe {
  max-width: 80vw;
}










.FilterInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: auto; /* Full-width */
  
  padding: 10px; /* Add some padding */
  border: 2px solid rgb(63, 62, 62); /* Add a grey border */
  border-radius: 5px;
  margin-bottom: 12px; /* Add some space below the input */
}



#FilterTable {
  border-collapse: collapse; /* Collapse borders */
  width: 80vw; /* Full-width */
  border: 1px solid rgb(97, 97, 97); /* Add a grey border */
  overflow: scroll;
  display: inline-block;
}

#FilterTable th, #FilterTable tr td {
  text-align: left; /* Left-align text */
  padding: 5px; /* Add padding */
  min-width: 150px;
  color: black;
  border: 1px solid black;
}

#FilterTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid rgb(61, 61, 61);
}

#FilterTable tr {
  /* Add a grey background color to the table header and on hover */
  background-color: #999999;
}

#FilterTable tr td:first-child, #FilterTable tr th:first-child  {
  text-align: center;
}


.FilterTableImage {
  width: 50px;
}


.TableSortButton {
  width: auto;
  height: auto;
  margin: 0px;
  border-radius: 7px;
  background-color: rgb(175, 175, 175);
  border-style: solid;
  border-color: rgb(54,57,63);
  font-size: small;
  font-weight: bold;
}