/* 
||==========================================================================================
|| changes to all elements of a generic kind
||==========================================================================================
 */
	/* The default background color and general text settings */
	body {
		background: rgb(219,219,224);
		font-family: 'Courier New', Courier, monospace;
		margin: 0%;
		padding: 0%;

	}


/* 
||==========================================================================================
|| POPULATED ATTRIBUTE tables and elements (used in ENTRY pages)
||==========================================================================================
 */

	#populated-title-table, .level-table {
		display: inline-block;
		margin: 0;
		border-collapse: collapse;
		overflow: auto;
		max-width: 88vw;
		border: 0px solid rgb(50,50,50);
	}
	#populated-title-table thead tr td, .level-table thead tr td{
		background-color: transparent;
		width: 88vw;
		border-color: transparent;
		border-bottom: 2px solid rgb(50,50,50);
	}
	.level-table thead tr td {
		padding: 0px;
	}
	.level-table tr th, .level-table th, .level-table tr td, .level-table td {
		color: rgb(25,25,25);
	}
	#populated-title-table th, #populated-title-table td, .level-table th, .level-table td {
		padding: 8px;
		vertical-align: top;
		border: 1px solid rgb(50,50,50);
	}
	#populated-title-table tr th, #populated-title-table th, .level-table tr th, .level-table th {
		background-color: rgb(150,150,150);
		font-size: medium;
		text-align: left;
	}
	#populated-title-table tr td, #populated-title-table  td, .level-table tr td, .level-table td {
		background-color: rgb(200,200,200);
		font-size: medium;
		text-align: left;
	}


/* 
||==========================================================================================
|| POPULATED ATTRIBUTE tables and elements (used in ENTRY pages)
||==========================================================================================
 */
	/* An overview table used frequently throughout the site */
	#populated-attributes-table {
		display: block;
		float: right;
		overflow: auto;
		border-collapse: collapse;
		width: 100%;
		max-width: 400px;
		padding: 0px;
		margin: 0px;
		margin-right: 0px;
		margin-left: 10px;
		border: 5px solid rgb(150,150,150);
		border-radius: 32px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: rgb(200, 200, 200);
	}
	#populated-attributes-table tr:first-child th {
		object-fit: cover;
		overflow: hidden;
	}
	#populated-attributes-table th, #populated-attributes-table td {
		padding: 10px;
		vertical-align: top;
	}
	#populated-attributes-table tr th {
		background-color: rgb(200,200,200);
		color: rgb(58,58,58);
		font-size: small;
	}
	#populated-attributes-table tr td {
		background-color: rgb(225,225,225);
		color: rgb(58,58,58);
		font-size: small;
		text-align: left;
	}
	#populated-attributes-table tr:nth-child(2) th, #populated-attributes-table tr:nth-child(1) th {
		color: rgb(58,58,58);
		padding: 2px;
		border-top: 0px;
		font-size: smaller;
		text-align: center;
	}
	#populated-attributes-table tr:nth-child(2) th {
		border-top: 2px solid rgb(175,175,175);
	}
	#populated-attributes-table tr:nth-child(3) th, #populated-attributes-table tr:nth-child(4) th {
		background-color: rgb(100,100,100);
		color: rgb(25,25,25);
		font-size: large;
	}
	#populated-attributes-table tr:nth-child(4) th {
		padding-top: 0px;
		font-size: small;
	}
	#populated-attributes-table-image {
		width: 110%;
		height: auto; 
		display: block;
		overflow: hidden;
		margin: -5%;
		margin-bottom: -1%;
	}


/* 
||==========================================================================================
|| FIXED and POPULATED INDEX table and buttons (used in DIRECTORY pages)
||==========================================================================================
 */
	/* A table to hold the various navigation buttons present in the page regardless of button styling */
	.fixed-index-table, .populated-index-table {
		background-color: rgb(50, 50, 50);
		float: right;
		height: auto;
		width: auto;
		max-width: 99%;
		display: flex;
		overflow: auto;
		border-radius: 20px;
		margin-left: 1%;
	}
	/* A button to navigate the website file structure from the page content, signifying a directory page */
	.fixed-index-table-directory-button {
		width: 24vw;
		min-width: 150px;
		max-width: 80vw;

		height: auto;
		min-height: 55px;
		
		margin: 0.5vw;
		border-radius: 20px;
		background-color: rgb(150, 150, 150);
		border: 2px solid pink;
		
		font-size: large;
		font-weight: bold;
	}

/* 
||==========================================================================================
|| POPULATED page ATTRIBUTE table
||==========================================================================================
 */

	/* An overview table used frequently throughout the site */
#page-attributes-table {
	display: block;
	float: right;
	overflow: auto;
	border-collapse: collapse;
	width: 100%;
	max-width: 384px;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	margin-left: 10px;
	border: 5px solid rgb(150,150,150);
	border-radius: 32px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgb(200, 200, 200);
}
#page-attributes-table tr:first-child th {
	object-fit: cover;
	overflow: hidden;
}
#page-attributes-table th, #page-attributes-table td {
	width: 100vw;
	max-width: auto;
	padding: 10px;
	vertical-align: top;
}
#page-attributes-table tr th {
	background-color: rgb(200,200,200);
	color: rgb(58,58,58);
	font-size: small;
}
#page-attributes-table tr td {
	background-color: rgb(225,225,225);
	color: rgb(58,58,58);
	font-size: small;
	text-align: left;
}
#page-attributes-table tr:nth-child(2) th, #page-attributes-table tr:nth-child(1) th {
	color: rgb(58,58,58);
	padding: 2px;
	border-top: 0px;
	font-size: smaller;
	text-align: center;
}
#page-attributes-table tr:nth-child(2) th {
	border-top: 2px solid rgb(175,175,175);
}
#page-attributes-table tr:nth-child(3) th, #page-attributes-table tr:nth-child(4) th {
	background-color: rgb(100,100,100);
	color: rgb(25,25,25);
	font-size: large;
}
#page-attributes-table tr:nth-child(4) th {
	padding-top: 0px;
	font-size: small;
}
#page-attributes-table-image {
	width: 110%;
	height: auto; 
	display: block;
	overflow: hidden;
	margin: -5%;
	margin-bottom: -1%;
}


/* 
||==========================================================================================
|| color coded backgrounds for development purposes
||==========================================================================================
 */

/* #populated-header-div {
	background-color: red;
}
.fixed-content-section {
	background-color: orange;
}
#populated-title-table {
	background-color: yellow;
}
.fixed-index-table {
	background-color: green;
}
	#page-attributes-table {
		background-color: seagreen;
	}
#blended-description-div {
	background-color: blue;
}
	.level-table {
		background-color: cyan;
	}
#populated-footer-div {
	background-color: purple;
} */