/* || =========================================================================================
|| Table of Contents:
||
|| - Font styling
|| - Background styling
|| - Color Palette styling
|| - Custom subsite elements
|| ========================================================================================= 
 */



 /* 
||==========================================================================================
|| Font styling
||==========================================================================================
 */

	/* The default background color and general text settings */
	body {
		font-family: cursive;
	}

	button {
		font-family: cursive;
	}
	
	
/* 
||==========================================================================================
|| BACKGROUND styling
||==========================================================================================
 */

	#fixed-background {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Maurice_Prendergast_-_Fantasy_-_Google_Art_Project.jpg/1200px-Maurice_Prendergast_-_Fantasy_-_Google_Art_Project.jpg?20130108152852");
	}


/* 
||==========================================================================================
|| Color Palette styles
||==========================================================================================
 */

	/* Primary color */
	#populated-header, .populated-header-button-subsite, .populated-header-button-home, #populated-footer, .page-footer-button {
		background-color: #291d04;
		border-color: #291d04;
	}

	/* Secondary color */
	.fixed-index-button-entry {
		border-color: #464E2E;
	}
	.fixed-index-button-directory {
		background-color: #464E2E;
	}


	/* Tertiary color */
	.fixed-index-button-directory {
		border: 2px solid #ACB992;
	}
	.fixed-index-button-entry {
		background-color: #ACB992;
	}

	/* Accent color */
	.fixed-content {
		background-color: #E9E5D6;
	}
	#populated-header, .populated-header-button-home, .populated-header-button-subsite, .populated-header-button-home-text, .fixed-index-category, .populated-footer-credit {
		color: #E9E5D6;
	}
	.page-footer-button:hover {
		border-color: #E9E5D6;
	}
